{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Profile page{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main_register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="main_content">
        <div class="mcontainer">

            <!-- Profile cover -->
            <div class="profile user-profile">

                <div class="profiles_banner">
                    <img src="{% static 'assets/images/category/profileBanner.png' %}" alt="">
                </div>

                <div class="profiles_content">

                    <div class="profile_avatar">
                        <div class="profile_avatar_holder">
                            <img src="{{ user.profile.image.url }}" alt="">
                        </div>
                    </div>

                    <div class="profile_info">
                        <h1 class="text-2xl font-bold">{{ user.username }}</h1>
                    </div>

                </div>

                <!-- Navigation -->
                <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2 mx-12">
                    <nav class="responsive-nav pl-3">
                        <ul uk-switcher="connect: #sections; animation: uk-animation-fade">
                            <li><a href="#"> Info </a></li>
                            <li><a href="#"> Library </a></li>
                            <li><a href="#"> Post </a></li>
                            <li><a href="#"> Saved </a></li>
                        </ul>
                    </nav>

                    <!-- button actions -->
                    <div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">

                        <!-- add post -->
                        <button class="flex items-center justify-center h-10 px-5 rounded-md bg-blue-600 text-white space-x-1.5 hover:text-white"
                                uk-toggle="target: #create-post-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span> Add Post </span>
                        </button>

                        <div id="create-post-modal" class="create-post" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg p-0 lg:w-5/12 relative shadow-2xl uk-animation-slide-bottom-small">

                                <div class="text-center py-4">
                                    <button class="uk-modal-close-default p-2.5 m-1 left-2" type="button"><img
                                            src="/assets/images/icons/closeCreatpost.png" alt=""></button>
                                    <h3 class="text-lg font-semibold"> Create post </h3>
                                    <button class="uk-modal-close-default text-xl text-blue-800 p-2.5 m-1 right-2"
                                            type="button">Create
                                    </button>
                                </div>
                                <div class="flex justify-between space-x-4 p-5">
                                    <!-- Image -->
                                    <div class="flex items-center justify-center createPostImage">
                                        <div uk-form-custom>
                                            <input type="file" aria-label="Custom controls">
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1"><img
                                                    src="assets/images/icons/createPostIcon.png" alt=""></button>
                                        </div>
                                    </div>

                                    <!-- Description -->
                                    <div>
                                        <form>
                                            <div class="createPostModal">
                                                <label for="nameBook">Name Book</label>
                                                <input type="text" id="nameBook" placeholder="">
                                            </div>

                                            <div class="createPostModal">
                                                <label for="authorName">Author name</label>
                                                <input type="text" id="authorName" placeholder="">
                                            </div>

                                            <div class="createPostModal">
                                                <label for="bookYear">Year</label>
                                                <input type="text" id="bookYear" placeholder="">
                                            </div>

                                            <div class="createPostModal">
                                                <label for="bookGenre">Genre</label>
                                                <input type="text" id="bookGenre" placeholder="">
                                            </div>

                                            <div class="createPostModalTextarea">
                                                <label for="bookDescription">Description</label>
                                                <textarea class="uk-textarea" rows="5"></textarea>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="uk-switcher" id="sections">

                <!-- Info Section -->
                <div class="infoSection">
                    <div>
                        <div class="userInformation">
                            <div><h1 class="text-xl mb-2.5">Full name</h1></div>
                            <div class="flex items-center infoArea">
                                <img src="{% static 'assets/images/icons/userInfoFname.png' %}" alt="">
                                <p class="text-lg">{{ user.full_name }}</p>
                            </div>
                        </div>

                        <div class="userInformation">
                            <div><h1 class="text-xl mb-2.5">Email</h1></div>
                            <div class="flex items-center infoArea">
                                <img src="{% static 'assets/images/icons/userInfoEmail.png' %}" alt="">
                                <p class="text-lg">{{ user.email }}</p>
                            </div>
                        </div>

                        <div class="userInformation">
                            <div><h1 class="text-xl mb-2.5">Speciality</h1></div>
                            <div class="flex items-center infoArea">
                                <img src="{% static 'assets/images/icons/userInfoSpec.png' %}" alt="">
                                <p class="text-lg">{{ user.profile.speciality }}</p>
                            </div>
                        </div>

                        <div class="userInformation">
                            <div><h1 class="text-xl mb-2.5">Birthday</h1></div>
                            <div class="flex items-center infoArea">
                                <img src="{% static 'assets/images/icons/userInfoBirth.png' %}" alt="">
                                <p class="text-lg">{{ user.profile.birthday }}</p>
                            </div>
                        </div>

                        <div class="flex userInformation">

                            <div class="infoAreaDel">
                                <div><h1 class="text-xl mb-2.5">Course</h1></div>
                                <div class="flex items-center infoArea">
                                    <img src="{% static 'assets/images/icons/userInfoCourse.png' %}" alt="">
                                    <p class="text-lg">{{ user.profile.course }}</p>
                                </div>
                            </div>

                            <div class="infoAreaDel">
                                <div><h1 class="text-xl mb-2.5">Exchanges</h1></div>
                                <div class="flex items-center infoArea">
                                    <img src="{% static 'assets/images/icons/userInfoExchange.png' %}" alt="">
                                    <p class="text-lg">{{ count_exchange }}</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Library  -->
                <div class="">
                    <div style="margin-bottom: 30px;">
                        <div class="card lg:mx-0" id="post_style_design" style="padding-bottom: 30px;">

                            <!-- post header-->
                            <div class="flex justify-between items-center lg:p-4 p-2.5">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <img src="assets/images/avatars/ImageRuslan.png"
                                             class="bg-gray-200 border border-white rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1 font-semibold capitalize">
                                        <a href="#" class="text-black dark:text-gray-100"> UserName </a>
                                        <div class="text-gray-700 flex items-center space-x-2"> 5 <span> hrs </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <!-- <img class="post-right" src="assets/images/save_ic.png" alt="" /> -->
                                        <!-- more icon -->
                                        <a href="#"
                                           class="flex items-center justify-center h-10 w-10 rounded-md bg-gray-100">
                                            <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                        </a>
                                        <!-- more drowpdown -->
                                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                             uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                            <ul class="space-y-1">
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                        <ion-icon name="push" class="pr-2 text-lg"></ion-icon>
                                                        Post
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                        <ion-icon name="pencil" class="pr-2 text-xl"></ion-icon>
                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                        <ion-icon name="trash" class="pr-2 text-xl"></ion-icon>
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center" id="row_postCenter">
                                <div class="descriptionForBookMobile">
                                    <p class="Name_Book_Users" id="Name_Book_Users_mobile">Джейн Эйр</p>
                                    <p class="Geroy_Book_Users" id="Geroy_Book_Users_mobile">Шарлотта бронте</p>
                                    <p class="Year_Book_Users" id="Year_Book_Users_mobile">2016</p>
                                    <p class="Type_Book_Users" id="Type_Book_Users_mobile">МБ жанр</p>
                                    <p class="Desc_Book_Users" id="Desc_Book_Users_mobile">
                                        Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная своей мачехе, у которой
                                        умер отец и которую унижает сводный брат...
                                    </p>
                                </div>
                                <div class="col-lg-5">
                                    <div uk-lightbox class="post_image_center">
                                        <a href="assets/images/post/post_main_image.png">
                                            <img src="assets/images/post/post_main_image.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="descriptionForBook">
                                        <p class="Name_Book_Users" id="Name_Book_Users_web">Джейн Эйр</p>
                                        <p class="Geroy_Book_Users" id="Geroy_Book_Users_web">Шарлотта бронте</p>
                                        <p class="Year_Book_Users" id="Year_Book_Users_web">2016</p>
                                        <p class="Type_Book_Users" id="Type_Book_Users_web">МБ жанр</p>
                                        <p class="Desc_Book_Users" id="Desc_Book_Users_web">
                                            Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная
                                            своей мачехе, у которой умер отец и которую унижает сводный
                                            брат...
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Post  -->
                <div class="">
                    <div style="margin-bottom: 30px;">
                        <div class="card lg:mx-0" id="post_style_design" style="padding-bottom: 30px;">

                            <!-- post header-->
                            <div class="flex justify-between items-center lg:p-4 p-2.5">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <img src="assets/images/avatars/ImageRuslan.png"
                                             class="bg-gray-200 border border-white rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1 font-semibold capitalize">
                                        <a href="#" class="text-black dark:text-gray-100"> UserName </a>
                                        <div class="text-gray-700 flex items-center space-x-2"> 5 <span> hrs </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <!-- <img class="post-right" src="assets/images/save_ic.png" alt="" /> -->
                                        <!-- more icon -->
                                        <a href="#"
                                           class="flex items-center justify-center h-10 w-10 rounded-md bg-gray-100">
                                            <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                        </a>
                                        <!-- more drowpdown -->
                                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                             uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                            <ul class="space-y-1">
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                        <ion-icon name="push" class="pr-2 text-lg"></ion-icon>
                                                        Unpost
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                        <ion-icon name="pencil" class="pr-2 text-xl"></ion-icon>
                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                        <ion-icon name="trash" class="pr-2 text-xl"></ion-icon>
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center" id="row_postCenter">
                                <div class="descriptionForBookMobile">
                                    <p class="Name_Book_Users" id="Name_Book_Users_mobile">Джейн Эйр</p>
                                    <p class="Geroy_Book_Users" id="Geroy_Book_Users_mobile">Шарлотта бронте</p>
                                    <p class="Year_Book_Users" id="Year_Book_Users_mobile">2016</p>
                                    <p class="Type_Book_Users" id="Type_Book_Users_mobile">МБ жанр</p>
                                    <p class="Desc_Book_Users" id="Desc_Book_Users_mobile">
                                        Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная своей мачехе, у которой
                                        умер отец и которую унижает сводный брат...
                                    </p>
                                </div>
                                <div class="col-lg-5">
                                    <div uk-lightbox class="post_image_center">
                                        <a href="assets/images/post/post_main_image.png">
                                            <img src="assets/images/post/post_main_image.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="descriptionForBook">
                                        <p class="Name_Book_Users" id="Name_Book_Users_web">Джейн Эйр</p>
                                        <p class="Geroy_Book_Users" id="Geroy_Book_Users_web">Шарлотта бронте</p>
                                        <p class="Year_Book_Users" id="Year_Book_Users_web">2016</p>
                                        <p class="Type_Book_Users" id="Type_Book_Users_web">МБ жанр</p>
                                        <p class="Desc_Book_Users" id="Desc_Book_Users_web">
                                            Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная
                                            своей мачехе, у которой умер отец и которую унижает сводный
                                            брат...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Saved  -->
                <div class="">
                    <div style="margin-bottom: 30px;">
                        <div class="card lg:mx-0" id="post_style_design" style="padding-bottom: 30px;">

                            <!-- post header-->
                            <div class="flex justify-between items-center lg:p-4 p-2.5">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <img src="assets/images/avatars/ImageRuslan.png"
                                             class="bg-gray-200 border border-white rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1 font-semibold capitalize">
                                        <a href="#" class="text-black dark:text-gray-100"> UserName </a>
                                        <div class="text-gray-700 flex items-center space-x-2"> 5 <span> hrs </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <!-- Added an id to the image for easier reference in JavaScript -->
                                        <img id="toggleImage" class="post-right" src="assets/images/save_ic.png" alt=""/>
                                    </div>


                                </div>
                            </div>

                            <div class="row align-items-center" id="row_postCenter">
                                <div class="descriptionForBookMobile">
                                    <p class="Name_Book_Users" id="Name_Book_Users_mobile">Джейн Эйр</p>
                                    <p class="Geroy_Book_Users" id="Geroy_Book_Users_mobile">Шарлотта бронте</p>
                                    <p class="Year_Book_Users" id="Year_Book_Users_mobile">2016</p>
                                    <p class="Type_Book_Users" id="Type_Book_Users_mobile">МБ жанр</p>
                                    <p class="Desc_Book_Users" id="Desc_Book_Users_mobile">
                                        Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная своей мачехе, у которой
                                        умер отец и которую унижает сводный брат...
                                    </p>
                                </div>
                                <div class="col-lg-5">
                                    <div uk-lightbox class="post_image_center">
                                        <a href="assets/images/post/post_main_image.png">
                                            <img src="assets/images/post/post_main_image.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="descriptionForBook">
                                        <p class="Name_Book_Users" id="Name_Book_Users_web">Джейн Эйр</p>
                                        <p class="Geroy_Book_Users" id="Geroy_Book_Users_web">Шарлотта бронте</p>
                                        <p class="Year_Book_Users" id="Year_Book_Users_web">2016</p>
                                        <p class="Type_Book_Users" id="Type_Book_Users_web">МБ жанр</p>
                                        <p class="Desc_Book_Users" id="Desc_Book_Users_web">
                                            Джейн Эйр маленькая девочка из обеспеченной семьи, ненужная
                                            своей мачехе, у которой умер отец и которую унижает сводный
                                            брат...
                                        </p>

                                        <div class="bottom_post_profile">
                                            <a
                                                    href="#register"
                                                    type="button"
                                                    class="hover:bg-green-500 hover:text-white font-semibold py-3 px-5 rounded-md text-center text-white mx-auto"
                                                    style="background-color: #0866FF; border-radius: 15px;"
                                                    uk-toggle
                                            >
                                                Send Request
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}