asgiref==3.7.2
Django==5.0.2
django-environ==0.11.2
djangorestframework==3.14.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.9.0
django-taggit==5.0.1
django-crispy-forms==2.1
django-import-export==4.0.0rc1
django-jazzmin==2.6.1
shortuuid==1.0.13