/* Import font
----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/* ---------------------------------- */

/* Exchange */
.exchange{
    border-radius: 15px;
    background-color: #DBDBDB;
}
.requestRow{
    width: 850px;
}
.bookInfo{
    margin-left: 30px;
}
.name_author{
    margin-bottom: 66px;
}
.request{
    display: flex;
    padding: 30px 50px;
    border-radius: 15px;
    background-color: #ECECEC;
}
.book_status{
    display: flex;
}
/* .requestContent{
    margin-bottom: 30px;
} */
.hidden {
    display: none;
}
#pending{
    background-color: #D6EAF6;
}
#active{
    background-color: #D6F6DF;
}
#rejected{
    background-color: #F6D6D6;
}
#accepted{
    background-color: #92FFB1;
}
#ended{
    background-color: #D2D2D2;
}

/* Modal part */
.requestDetailUserName p{
    font-size: 15px;
    font-family: Inter;
    margin-left: 10px;
    color: black;
}
.requestImage{
    border-radius: 15px;
}
.incRequestUser > div {
    margin-bottom: 10px;
}
.requestDetailBookTitle{
    font-family: Inter;
    font-size: 15px;
    color: black
}
.requestDeatailCancel{
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #FF9292;
}
.requestDeatailAccept{
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #92FFB1;
}
.img_requestbooks{
    width: 150px !important;
    height: 190px !important;
    border-radius: 15px;
}
.requestStatusMobile{
    width: 100px;
    height: 40px;
    border-radius: 15px;
}
#iconDivDetails{
    display: flex;
}
.iconDivDetailsTop{
    display: none;
}

@media (max-width: 431px){
    .exchange{
        border-radius: 15px;
        background-color: transparent;
    }
    .buttonInner{
        padding: 6px 8px;
        border-radius: 15px;
        background-color: #9D9D9D;
    }
    .request{
        display: block;
        width: 400px;
        height: 190px;
        padding: 0px 0px;
        border-radius: 15px;
        background-color: #ececec;
    }
    .book_status{
        display: block;
    }
    .bookImage{
        width: 150px;
        height: 190px;
    }
    .requestRow{
        width: 400px;
    }
    /* .requestContent{
        margin-bottom: 50px;
    } */
    .name_author{
        margin-bottom: 15px;
    }
    .img_requestbooks{
        width: 150px;
        height: 190px;
        border-radius: 15px;
    }
    #filterButtons{
        margin-top: 20px;
    }
    .requestStatusMobile{
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 90px;
        width: 100px;
        height: 40px;
        border-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .requestStatusMobile p{
        font-size: 15px;
        font-family: Inter;
        color:black;
    }
    .bookInfo{
        margin-top: 10px;
        /* padding: 10px; */
        align-content: center;
        margin-left: 20px;
    }
    .requestImage{
        width: 150px;
        height: 190px;
        border-radius: 15px;
    }

    #iconDivDetails{
        display: none;
    }
    .iconDivDetailsTop{
        display: flex;
    }
    #exampleModalLabel{
        display: none;
    }
}
/*  */

.exchange_post_image {
    width: 150px;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.exchange_title_count_block span {
    margin: -50px 0 0 75px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2px 5px;
    color: white;
    font-size: 12px;
}