
/*a, a img, button {outline : none !important;}*/
#stagingServerAlert {
  display: none !important;
}
html {
  /*background-color: hsl(40, 15%, 25%) !important;*/
}
body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: hsla(40, 15%, 17%, 1);
}
html#ecwid_html body#ecwid_body .ecwid,
html#ecwid_html body#ecwid_body .ecwid-minicart,
html#ecwid_html body#ecwid_body .ecwid-SearchPanel,
html#ecwid_html body#ecwid_body .dateBoxPopup,
html#ecwid_html body#ecwid_body .gwt-PopupPanel,
body#ecwid_body p,
body#ecwid_body div {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: rgb(0, 0, 0);
}
.font-normal {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 400 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: "IBM Plex Sans Condensed", "IBM Plex Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  opacity: 0.7;
  font-weight: 700;
}
a {
  color: hsl(211, 70%, 50%);
}
@media (max-width: 768px) {
  .h1,
  h1 {
    font-size: 1.75rem;
  }
  .h2,
  h2 {
    font-size: 1.6rem;
  }
  .h3,
  h3 {
    font-size: 1.4rem;
  }
  .h4,
  h4 {
    font-size: 1.3rem;
  }
  .h5,
  h5 {
    font-size: 1.2rem;
  }
}

.hide,
.hidden {
  display: none;
}
.show {
  display: block;
}

.alert {
  background-color: #ffc;
}

.light-gray,
.light-grey {
  color: hsl(40, 15%, 50%);
}

.right {
  text-align: right;
}
.red {
  color: #ff0000;
}

.nowrap {
  white-space: nowrap;
}
.inline-block {
  display: inline-block;
}
.title-case {
  text-transform: capitalize;
}
.tiny,
.tiny * {
  font-size: 0.7rem !important;
}
.bold {
  font-weight: 600;
}
blockquote {
  margin: 0 2em;
}
.pointer {
  cursor: pointer;
}

table {
  line-height: 1em;
}

#navbar-wrapper {
}
nav.fixed-top {
  background-color: rgba(255, 255, 255, 0.94);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar #user-panel {
  position: absolute;
  right: 15px;
  text-align: right;
}
#navbar-search .input-group {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  #navbar-search {
    margin: 0.8rem auto 0.5rem !important;
  }
  #navbar-search input {
    width: 13em;
  }
  #quicksearch-menu {
    padding: 0;
  }
  .navbar #user-panel {
    position: relative;
    right: auto;
    text-align: right;
  }
}
.navbar a {
  color: rgb(248, 160, 8);
  opacity: 0.8;
}
.navbar a:focus,
.navbar a:hover {
  opacity: 1;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-nav .collapsing-dropdown {
    padding-left: 10px;
    background-color: inherit;
  }
  
}
.navbar-nav .collapsing-dropdown li:focus a,
.navbar-nav .collapsing-dropdown li:hover a {
  color: #000;
  background-color: #ddd;
  text-decoration: none;
}
.navbar-nav .collapsing-dropdown li a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
}
.navbar-nav .collapsing-dropdown {
  padding-bottom: 0;
}
.navbar-nav .collapsing-dropdown li {
  padding: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (max-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    padding: 0.7rem 0.5rem;
    font-size: 1.25rem;
  }
  .navbar-nav .collapsing-dropdown {
    position: relative;
    box-shadow: none;
    top: auto;
    margin-top: 0;
  }
}

/* Стили для маленьких экранов */
a.navbar-brand {
  position: relative;
  opacity: 1 !important;
  display: inline-block;
  padding: 0;
  margin-left: 150px;
  margin-top: 0;
  height: 40px;
  width: 141px;
  background-image: url('assets/images/logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
/* Стили для больших экранов */
.btn-login {
  border-radius: 15px;
  border-color: transparent;
  height: 60px;
  width: 130px;
  margin-right: 20px;
  font-weight: 700;
  line-height: 24.2px;
  font-size: 20px;
  font-family: "Inter";
}
.btn-signup {
  margin-right: 150px;
  border-radius: 15px;
  border-color: transparent;
  height: 60px;
  width: 130px;
  font-weight: 700;
  line-height: 24.2px;
  font-size: 20px;
  font-family: "Inter";
}
#home_mission_text_desc {
  width: 30%;
  text-align: center;
}
#home_mission_text {
  font-size: 35px;
  font-family: "Ubuntu Mono";
  text-align: center;
  width: 100%;
}
#home_mission_id {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
}
/* .col-lg-4{
  width: 300px;
  height: 400px;
  padding: 20px;
} */
#info_saveText {
  width: 100%;
  height: 100%;
  padding: 20px;
}

#main_title_slider{
  width: 100%;  
  flex-direction:row;
  padding-top: 110px;
  background-color: rgba(0, 22, 66, 1);
}
@media (max-width: 867px) {

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Neonderthaw&family=Outfit&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
  #style_slider_books {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 22, 66, 1);
    /* background-image: url(/src/assets/image/fundo2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  #main_title_slider{
    width: 100%;  
    flex-direction:row;
    padding-top: 90px;
    background-color: rgba(0, 22, 66, 1);
  }
  
  #image_slider {
    height: 380px;
    width: 280px;
    border-radius: 15px;
  }
  section {
    padding-left:12.5%;
    position: relative;
    /* margin-top: 70px; */
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .navbar #user-panel {
  }
  a.navbar-brand {
    margin-left: 30px;
    height: 50px;
    width: 130px;
    margin-right: 0;
  }

  .singUpRegs {
    border-color: transparent;
    border-radius: 15px;
  }
  .btn-login {
    margin-right: 10px;
    font-size: 12px;
    margin-right: 20px;
    font-weight: 300;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    font-family: "Inter";
  }
  .btn-signup {
    margin-left: 0;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    font-family: "Inter";
  }
  #home_mission_text_desc {
    width: 100%;
    font-size: smaller;
  }
  #home_mission_text {
    margin-top: 30px;
    font-size:larger;
    width: 100%;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Neonderthaw&family=Outfit&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
  #style_slider_books {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 22, 66, 1);
    /* background-image: url(/src/assets/image/fundo2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #image_slider {
    height: 350px;
    width: 250px;
    border-radius: 15px;
  }
  section {
    position: relative;
    /* margin-top: 70px; */
    height: 350px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }





  .navbar #user-panel {
  }
  a.navbar-brand {
    margin-left: 30px;
    height: 50px;
    width: 130px;
    margin-right: 0;
  }

  .singUpRegs {
    border-color: transparent;
    border-radius: 15px;
  }
  .btn-login {
    margin-right: 10px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 300;
    margin-right: 15px;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }
  .btn-signup {
    margin-left: 0;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }


}

/* max-width: 467px  */
@media (min-width: 360px) and (max-width: 467px) {
  .about_area {
    margin-top: 100px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Neonderthaw&family=Outfit&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
  #style_slider_books {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 22, 66, 1);
    /* background-image: url(/src/assets/image/fundo2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }


  #image_slider {
    height: 250px;
    width: 180px;
    border-radius: 15px;
  }
  section {
    position: relative;
    /* margin-top: 70px; */
    height: 250px;
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .navbar #user-panel {
  }
  a.navbar-brand {
    /* margin-left: 20px; */
    height: 50px;
    width: 120px;
    margin-right: 0;
  }

  .singUpRegs {
    border-color: transparent;
    border-radius: 15px;
  }
  .btn-login {
    margin-right: 10px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 300;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }
  .btn-signup {
    margin-left: 0;
    margin-right: 10px;
    font-size: 8px;
    font-weight: 300;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }
}

  /* .swiper {
    width: 100px;
  } */

/* max-width: 360px  */
@media (max-width: 360px) {
  .about_area {
    margin-top: 80px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Neonderthaw&family=Outfit&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
  #style_slider_books {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 22, 66, 1);
    /* background-image: url(/src/assets/image/fundo2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }


  #image_slider {
    height: 250px;
    width: 180px;
    border-radius: 15px;
  }
  section {
    position: flex;
    /* margin-top: 70px; */
    height: 350px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }



  .navbar #user-panel {
  }
  a.navbar-brand {
    margin-left: 0;
    height: 50px;
    width: 120px;
    margin-right: 0;
  }

  .singUpRegs {
    border-color: transparent;
    border-radius: 15px;
  }
  .btn-login {
    margin-right: 10px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 100;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }
  .btn-signup {
    margin-left: 0;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 100;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-family: "Inter";
  }

  #info_saveText{
    display: none;
  }
  #home_mission_id{
    display: none;
  }
}

/* Top Area */
.about_area {
  margin-bottom: 30px;
  background: #fff;
  position: relative;
}

#description_about_home_pag_2 {
  display: none;
}
@media (min-width: 992px) {

  #main_title_slider{
    width: 100%;  
    padding-left: 30px;
    flex-direction:row;
    padding-top: 110px;
    background-color: rgba(0, 22, 66, 1);
  }

  #main_title_slider{
    width: 100%;  
    flex-direction:row;
    padding-top: 110px;
    background-color: rgba(0, 22, 66, 1);
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Neonderthaw&family=Outfit&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
  #style_slider_books {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 22, 66, 1);
    /* background-image: url(/src/assets/image/fundo2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #image_slider {
    height: 380px;
    width: 280px;
    border-radius: 15px;
  }
  section {
    /* padding-left:12.5%; */
    margin-top: 50px;
    position: relative;
    /* margin-top: 70px; */
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }


  
  .about_area .about_info_wrap h3 {
    font-size: 40px;
    width: 400px;
    font-family: "Ubuntu Mono";
    color: rgba(0, 0, 0, 1);
    line-height: 40px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .about_info_wrap {
    margin-left: 60px;
    width: 500px;
    height: 500px;
  }
  #description_about_home_page {
    font-size: 20px;
    font-family: "Ubuntu Mono";
    color: rgba(0, 0, 0, 1);
    line-height: 30px;
    margin-bottom: 0;
  }
  .about_img {
    margin-left: 100px;
    width: 400px;
    height: 500px;
  }
  .about_area {
    margin-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {

  /* line 10, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
  .about_area .about_info_wrap h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    line-height: 30px;
    margin-bottom: 20px;
  }
  .about_info_wrap {
    margin-left: 60px;
    width: 300px;
    height: 400px;
  }
  #description_about_home_page {
    font-size: 15px;
    font-family: "Ubuntu Mono";
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
  }
  .about_img {
    margin-left: 60px;
    width: 300px;
    height: 400px;
  }
  .about_area {
    margin-top: 100px;
  }
}

/* .about_area {
  margin-top: 100px;
} */

@media (max-width: 768px) {
  .about_area .about_info_wrap h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .about_info_wrap {
    margin-left: 50px;
    width: 230px;
    height: 300px;
  }
  #description_about_home_page {
    font-size: 15px;
    line-height: 12px;
    font-family: "Ubuntu Mono";
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
  }
  .about_img {
    margin-left: 30px;
    width: 200px;
    height: 300px;
  }
  .about_area {
    margin-top: 100px;
  }
}
@media (max-width: 500px) {
  .about_area .about_info_wrap h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 20px;
  }
  .about_info_wrap {
    margin-left: 20px;
    width: 180px;
    height: min-content;
  }
  #description_about_home_page {
    font-size: 8px;
    font-family: "Ubuntu Mono";
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
  }
  .about_img {
    margin-left: 20px;
    width: 120px;
    height: min-content;
  }
  .about_area {
    margin-left: 20px;
    margin-top: 80px;
    padding: 25px;
    align-content: horizontal;
  }
}
@media (max-width: 360px) {
  .about_area .about_info_wrap h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 20px;
  }
  .about_info_wrap {
    /* margin-left: 10px; */
    width: 150px;
    height: min-content;
  }
  #description_about_home_pag_2 {
    display:block;
    font-size: 16px;
    font-family: "Inter";
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
  }
  #description_about_home_page {
    display: none;
  }
  .about_img {
    margin-left: 10px;
    margin-right: 0px;
    width: 100px;
    margin-bottom: 10px;
    height: min-content;
  }
  .about_area {
    margin-top: 100px;
  }
}

#title_top_div{
  width: 80%;
  padding-left:12.5% ;
  align-content: start;
}
#style_slider_books{
  background-color:rgba(0, 22, 66, 1) ;
}
.swiper-button-next{
  top: 50px;
}
/* Добавьте ваши стили здесь */
.custom-next-button {
  /* Укажите ваш путь к иконке в background */
  background: url("../images/next_btn.png");
  background-size: contain;
  width: 56px;
  height: 56px; 
}

#title_slider{
    color: white;
    width: 100%;
    text-align: start;
}
#title_slider_desc{
    color: white;
    width: 40%;
    text-align: start;
}

@media (min-width: 1040px) {
  /* line 14, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
  .about_area .about_info_wrap h3 {
    font-size: 40px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  /* line 24, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
  .about_area .about_info_wrap h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
  .about_area .about_info_wrap h3 br {
    display: none;
  }
}

/* line 33, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
/* .about_area .about_info_wrap .long_dash {
  height: 3px;
  width: 70px;
  background: #db9a64;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 3px;
} */

/* line 41, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.about_area .about_info_wrap p {
  font-size: 15px;
  line-height: 18.15px;
  color: #596672;
  margin-bottom: 50px;
}

/* line 47, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.about_area .about_info_wrap .food_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media (max-width: 767px) {
  .about_area .about_info_wrap .food_list {
    display: block;
  }
}

/* 
.about_area .about_info_wrap .food_list li span {
  padding-left: 14px;
  color: #db9a64;
  font-size: 16px;
  font-weight: 400;
} */

.about_area .about_img {
  position: relative;
}

.about_area .about_img .img_1 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.about_area .about_img .img_1 img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
}

.about_area .about_img .small_img {
  position: absolute;
  margin-top: -170px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 10px solid #fff;
}

/* Top Area */

#menu-toggle {
  opacity: 0.35;
}

@media (max-width: 1200px) {

  #class_main_slider{
    display: none;
  }
}
@media (max-width: 991px) {

  #class_main_slider{
    display: none;
  }
  .img_1 {
    /* position:absolute; */
    align-content: end;
  }

  #menu-toggle,
  #user-panel-toggle {
    position: absolute;
    top: 20px;
    color: #ff0000;
  }
  #menu-toggle {
    left: 10px;
  }
  #user-panel-toggle {
    right: 5px;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

#content {
  margin-bottom: 1.5em;
}

#main {
  padding-top: 115px;
  min-height: 87vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.home #main {
  padding-top: 90px;
}

.swiper-pagination-bullet  {
    height: 10px !important;
    width: 10px !important;
    margin: 0 5px;
    border-radius: 25px !important;
    background: white !important;
}
.swiper-pagination-bullet-active {
  transform: translateY(25%);
  width: 20px !important;
  height: 20px !important; /* Замените на ваш желаемый размер */
  background-color: white; /* Замените на ваш цвет для активного элемента */
}

.long_dash {
  height: 2px;
  width: 80%;
  background: black;
  display: inline-block;
  margin-bottom: 34px;
  margin-top: 30px;
}

.bottom_main_info{
  width: 100%;
  background-color: white;
  height: 510px;
  text-align: center;
  align-content: center;
}
#bottom_info_dev{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование по вертикали */
  align-items: center;
}

#bottom_info_dev img{
  width: 60px;
  height: 60px;
}
#text_bottom_info{
  margin-top: 40px;
  width: 40%;
}
#botton_social_img{
  margin: 70px;
}
@media(max-width:360px){
  .bottom_main_info{
    display: none;;
  }
  .swiper-pagination{
    display: none;;
  }
}