{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Socialite is - Professional A unique and beautiful collection of UI elements">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {% block links %}{% endblock %}

</head>

<body>

<!-- Header -->
<header>

    <div class="header_wrap">
        <div class="header_inner mcontainer">
            <span id="onClickMenuMobile" onclick="openNav()">&#9776;</span>

            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "280px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }
            </script>
            <div class="left_side">

                <div id="logo">
                    <a href="{% url 'core:feed' %}">
                        <img src="{% static 'assets/images/logo-auystyr.png' %}" alt=""/>
                        <img
                                src="{% static 'assets/images/logo-auystyr-mobile.png' %}"
                                class="logo_mobile"
                                alt=""
                        />
                    </a>
                </div>
            </div>
            <div class="header_search"><i class="uil-search-alt"></i>
                <input value="" type="text" id="search_query" name="search_query" class="form-control" placeholder="Search for Friends , Videos and more.."
                       autocomplete="off" oninput="searchPost(this.value)">
                <div uk-drop="mode: click" class="header_search_dropdown">
                    <ul id="find_post_list">
                    </ul>

                </div>
            </div>


            <div class="right_side">
                <div class="header_widgets">
                    <a href="#">
                        <img
                                src="{{ user.profile.image.url }}"
                                class="is_avatar"
                                alt=""
                        />
                    </a>
                    <div
                            uk-drop="mode: click;offset:5"
                            class="header_dropdown profile_dropdown"
                    >
                        <a href="timeline.html" class="user">
                            <div class="user_avatar">
                                <img src="{{ user.profile.image.url }}" alt=""/>
                            </div>
                            <div class="user_name">
                                <div>{{ user.full_name }}</div>
                                <span>@{{ user.username }}</span>
                            </div>
                        </a>
                        <hr/>
                        <a href="#" id="night-mode" class="btn-night-mode">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                            >
                                <path
                                        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                                />
                            </svg>
                            Night mode
                            <span class="btn-night-mode-switch">
                    <span class="uk-switch-button"></span>
                  </span>
                        </a>
                        <a href="{% url 'userauths:sign-out' %}">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                                ></path>
                            </svg>
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- sidebar -->
<div class="sidebar sidebar_main_style">
    <div class="sidebar_inner" data-simplebar>
        <ul>
            <li class="active">
                <a href="{% url 'core:feed' %}">
                    <img
                            class="ic_left_bar"
                            src="{% static 'assets/images/main_ic.png' %}"
                            alt=""
                    />
                    <span> Main </span>
                </a>
            </li>
            <li>
                <a href="{% url 'exchange' %}">
                    <img
                            class="ic_left_bar"
                            src="{% static 'assets/images/exchange.png' %}"
                            alt=""
                    />
                    <span> Exchange </span>
                </a>
            </li>
            <li>
                <a href="{% url 'chat' %}">
                    <img
                            class="ic_left_bar"
                            style="padding: 3px;"
                            src="{% static 'assets/images/messages_ic.png' %}"
                            alt=""
                    />
                    <span> Message</span>
                </a>
            </li>
            <li>
                <a href="{% url 'events' %}">
                    <img
                            class="ic_left_bar"
                            src="{% static 'assets/images/events_ic.png' %}"
                            alt=""
                    />
                    <span> Events </span>
                </a>
            </li>
            <li>
                <a href="{% url 'tests' %}">
                    <img
                            class="ic_left_bar"
                            src="{% static 'assets/images/quiz_ic.png' %}"
                            alt=""
                    />
                    <span> Quiz </span>
                </a>
            </li>
            <ul class="side_links">
                <li>
                    <a href="">
                        <img
                                class="ic_left_bar"
                                src="{% static 'assets/images/about_ic.png' %}"
                                alt=""
                        />
                        <span> About us </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img
                                class="ic_left_bar"
                                src="{% static 'assets/images/settings_ic.png' %}"
                                alt=""
                        />
                        <span> Settings </span>
                    </a>
                </li>
            </ul>
    </div>
</div>

{% block content %}


{% endblock content %}


<!-- For Night mode -->
<script>
    (function (window, document, undefined) {
        'use strict';
        if (!('localStorage' in window)) return;
        var nightMode = localStorage.getItem('gmtNightMode');
        if (nightMode) {
            document.documentElement.className += ' night-mode';
        }
    })(window, document);

    (function (window, document, undefined) {

        'use strict';

        // Feature test
        if (!('localStorage' in window)) return;

        // Get our newly insert toggle
        var nightMode = document.querySelector('#night-mode');
        if (!nightMode) return;

        // When clicked, toggle night mode on or off
        nightMode.addEventListener('click', function (event) {
            event.preventDefault();
            document.documentElement.classList.toggle('dark');
            if (document.documentElement.classList.contains('dark')) {
                localStorage.setItem('gmtNightMode', true);
                return;
            }
            localStorage.removeItem('gmtNightMode');
        }, false);

    })(window, document);
</script>

<!-- Javascript
================================================== -->
<script>
    let find_post_list = document.getElementById('find_post_list');

    function searchPost(value) {
        let trimmedValue = value.trim();

        if (trimmedValue.length > 0) {
            fetch(`/search_post?query=${encodeURIComponent(trimmedValue)}`)
                .then(response => response.json())
                .then(data => {
                    data = data.data;
                    find_post_list.innerHTML = '';
                    data.forEach(post => {
                        find_post_list.innerHTML += `
                            <li>
                                <a href="#">
                                    <img src="${post.image}" alt="" class="list-avatar">
                                    <div class="list-name">${post.title}</div>
                                </a>
                            </li>
                        `
                    })
                })
        } else {
            find_post_list.innerHTML = `
                <h1 style="font-size: 14px; padding: 5px;">No post found</h1>
            `;
        }
    }

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/function.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


</body>

</html>





