{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Event {{ event.title }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main_register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/event.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">

            <div class="eventContent">

                <div class="">
                    <div class="eventInnerImage">
                        <img src="{{ event.image.url }}" alt="">
                    </div>

                    <div class="eventInnerMain">

                        <div class="flex eventInnerContent">
                            <h1 class="text-3xl font-bold">{{ event.title }}</h1>
                        </div>

                        <div class="flex items-center justify-between eventInnerContent">
                            <div class="flex items-center ">
                                <div class="eventInnerImageOrganizator">
                                    <div class="image_organizator_event"
                                         style="background-image: url('{{ event.user.profile.image.url }}')"
                                    >
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <h3 class="text-xl">SDU life Events</h3>
                                    <p class="text-lg">Organize Team</p>
                                </div>
                            </div>
                        </div>

                        <div class="eventInnerContent">
                            <p class="text-xl">{{ event.description }}</p>
                        </div>

                        <div class="flex items-center justify-between eventInnerContent">
                            <div class="flex">
                                <div class="pr-2">
                                    <img src="{% static 'assets/images/icons/eventDate.png' %}" alt="">
                                </div>
                                <div class="space-y-2">
                                    <h3>Date and time</h3>
                                    <p>{{ event.date }}</p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="pr-2">
                                    <img src="assets/images/icons/eventLocation.png" alt="">
                                </div>
                                <div class="space-y-2">
                                    <h3>Location</h3>
                                    <p>Library, SDU, Kaskelen</p>
                                </div>
                            </div>

                            <div class="bookNow py-4 px-5 space-y-2.5 rounded-xl" style="background-color: #59B4C3;">
                                <h1 class="flex justify-center text-base">From KZT 2000.00</h1>
                                <a href="">
                                    <h2 class="flex justify-center py-3 px-7 text-base rounded-xl text-white"
                                        style="background-color: #003EFF;">Book Now</h2>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}