{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main_register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/event.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div class="eventContent">
                <div class="eventImage">
                    <img src="{% static 'assets/images/category/eventImage.png' %}" alt="">
                </div>

                <div class="evntMedium">
                    <h1 class="text-3xl font-medium">EVENTS YOU'LL REMEMBER!</h1>
                    <p class="text-base">We are passionate about creating integrated experiences that bring cohesive
                        connection between authors and book lovers. Our team of experienced and talented event managers
                        strive to deliver stellar results.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Deserunt officiis placeat nobis fugit unde non magni sit veniam, quasi animi obcaecati! Quo
                        tenetur exercitationem delectus modi vero iure sit soluta.Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Deserunt officiis placeat nobis fugit unde non magni sit veniam,
                        quasi animi obcaecati! Quo tenetur exercitationem delectus modi vero iure sit soluta.Lorem
                        ipsum, dolor sit amet consectetur adipisicing elit. Deserunt officiis placeat nobis fugit unde
                        non magni sit veniam, quasi animi obcaecati! Quo tenetur exercitationem delectus modi vero iure
                        sit soluta.</p>
                </div>

                <div class="eventPart" style="padding-bottom: 50px;">
                    <div class="events_create_title_block">
                        <h1 class="text-3xl font-medium">Events</h1>
                        <a href="{% url 'event_create' %}">Create</a>
                    </div>
                    <div class="grid md:grid-cols-3 gap-x-2.5 gap-y-2.5">
                        {% for event in events %}
                            <div class="eventCard">
                                <a href="{% url 'event_detail' event.id %}">
                                    <div>
                                        <img class="img_events_grid" src="{{ event.image.url }}" alt="">
                                    </div>
                                    <div class="flex justify-center space-x-5 eventText ">
                                        <div>
                                            <h3 class="text-xl font-bold" style="text-transform: uppercase">{{ event.date|date:"M" }}</h3>
                                            <h3 class="text-xl font-bold">{{ event.date.day }}</h3>
                                        </div>

                                        <div>
                                            <h3 class="text-base font-medium">Book Crossing with new Guest</h3>
                                            <p class="text-xs">{{ event.description|truncatewords:10 }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}