{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Chat - Message{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main_register.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Main Contents -->
    <div class="main_content" id="main_content_messages">
        <div class="messages-container">
            <div class="messages-container-inner">
                <div class="messages-inbox">
                    <div class="messages-headline" id="messages_headline_chats">
                        <div class="input-with-icon" hidden>
                            <input
                                    id="autocomplete-input"
                                    type="text"
                                    placeholder="Search"
                            />
                            <i class="icon-material-outline-search"></i>
                        </div>
                        <h2 class="text-2xl font-semibold">Chats</h2>

                    </div>
                    <div class="messages-inbox-inner" data-simplebar>
                        <ul>
                            {% for contact in contacts %}
                                <li class="message-user" id="contact_{{ contact.user_id }}" onclick="loadMessagesWithUser({{ contact.user_id }})">
                                    <a href="#">
                                        <div class="message-avatar">
                                            <i class="status-icon status-online"></i>
                                            <img src="{{ contact.image }}" alt=""/>
                                        </div>
                                        <div class="message-by">
                                            <div class="message-by-headline">
                                                <h5>{{ contact.name }}</h5>
                                                <span>{{ contact.last_message_date }}</span>
                                            </div>
                                            <p>{{ contact.message }}</p>
                                        </div>
                                    </a>
                                </li>
                            {% empty %}
                                <h1>No messages</h1>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="message-content">
                    <div class="messages-headline" id="messages_headline_message_users" style="display: none;">
                        <div class="flex justify-between items-center lg:p-4 p-2.5">
                            <div class="flex flex-1 justify-between items-center space-x-4">
                                <img
                                        id="receiver_user_image"
                                        src=""
                                        class="messages_user_top"
                                        alt=""
                                />
                                <h4 id="receiver_user_name" class="username_messages" style="margin-left: 100px">

                                </h4>
                            </div>
                            <div>
                                <div>
                                    <a href="#">
                                        <i
                                                class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"
                                        ></i>
                                    </a>
                                    <div
                                            class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                            uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small"
                                    >
                                        <ul class="space-y-1">
                                            <li>
                                                <a
                                                        href="#"
                                                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800"
                                                >
                                                    <i class="uil-edit-alt mr-1"></i> Edit Message
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                        href="#"
                                                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800"
                                                >
                                                    <i class="uil-favorite mr-1"></i> Add to Friend
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="-mx-2 my-2 dark:border-gray-800"/>
                                            </li>
                                            <li>
                                                <a
                                                        href="#"
                                                        class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600"
                                                >
                                                    <i class="uil-trash-alt mr-1"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <a href="#" class="message-action text-red-500"><i class="icon-feather-trash-2"></i> <span class="md:inline hidden"> Delete Conversation</span> </a> -->
                    </div>

                    <div class="message-content-scrolbar" data-simplebar>
                        <!-- Message Content Inner -->
                        <div class="message-content-inner">
                        </div>
                    </div>
                    <div class="message-reply" id="send_message_block" style="display: none;">
                        <div
                                class="bg-gray-100 rounded-full relative dark:bg-gray-800 border-t"
                                style="justify-content: center"
                        >
                            <div
                                    class="-m-0.5 absolute bottom-0 flex items-center left-3 text-xl"
                            >
                                <a href="#">
                                    <img
                                            src="{% static 'assets/images/icons/attach_ic.png' %}"
                                            style="
                            width: 18px;
                            height: 18px;
                            margin: 5px 10px 13px 10px;
                          "
                                            alt=""
                                    />
                                    <!-- <ion-icon name="happy-outline" class="hover:bg-gray-200 p-1.5 rounded-full"></ion-icon> -->
                                    <!-- <iconify-icon icon="ion:attach-sharp"  style="color: black"></iconify-icon> -->
                                </a>
                            </div>
                            <input
                                    placeholder=" Message.."
                                    class="bg-transparent max-h-10 px-5"
                                    id="input_messages_send"
                                    style="padding: 0 80px 0 50px;"
                            />
                            <div
                                    class="-m-0.5 absolute bottom-0 flex items-center right-3 text-xl"
                            >
                                <a href="#">
                                    <ion-icon
                                            name="happy-outline"
                                            class="hover:bg-gray-200 p-1.5 rounded-full"
                                    ></ion-icon>
                                </a>
                                <a href="#" id="send_message_to_user">
                                    <img
                                            src="{% static 'assets/images/icons/send_ic.png' %}"
                                            style="
                            width: 18px;
                            height: 18px;
                            margin: 5px 10px 10px 10px;
                          "
                                            alt=""
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#send_message_to_user').addEventListener('click', () => {
            let userID = document.querySelector('.message-user.active').id.split('_')[1]; // Получаем ID активного контакта
            let message = document.getElementById('input_messages_send').value;
            if (message === '') {
                return;
            }
            fetch(`/chat/send_message_to_user/${userID}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ message: message })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status === 200) {
                        let messageBubble = document.createElement('div');
                        messageBubble.classList.add('message-bubble');
                        messageBubble.classList.add('me');
                        messageBubble.innerHTML = `
                            <div class="message-bubble-inner">
                                <div class="message-avatar">
                                    <img src="${data.sender_image}" alt="">
                                </div>
                                <div class="message-text">
                                    <p>${message}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        `;
                        let messagesContainer = document.querySelector('.message-content-inner');
                        messagesContainer.appendChild(messageBubble);
                        document.getElementById('input_messages_send').value = '';
                    }
                });
        });

        // Функция загрузки сообщений с пользователем
        function loadMessagesWithUser(userID) {
            // Убираем класс active у всех элементов
            document.querySelectorAll('.message-user').forEach(item => {
                item.classList.remove('active');
            });
            // Добавляем класс active к выбранному элементу
            document.getElementById('contact_' + userID).classList.add('active');

            fetch(`/chat/get_message_with_user/${userID}`)
                .then(response => response.json())
                .then(data => {
                    let messages = data.messages;
                    let chat_user = data.chat_user;
                    console.log(messages);
                    console.log(chat_user);

                    document.getElementById('receiver_user_image').src = chat_user.chat_user_image;
                    document.getElementById('receiver_user_name').innerText = chat_user.chat_user_name;

                    let messagesContainer = document.querySelector('.message-content-inner');
                    messagesContainer.innerHTML = '';

                    document.getElementById('send_message_block').style.display = 'flex';
                    document.getElementById('messages_headline_message_users').style.display = 'block';

                    messages.forEach(message => {
                        let messageBubble = document.createElement('div');
                        messageBubble.classList.add('message-bubble');
                        if (message.sender === 'me') {
                            messageBubble.classList.add('me');
                        }
                        messageBubble.innerHTML = `
                            <div class="message-bubble-inner">
                                <div class="message-avatar">
                                    <img src="${message.sender_image}" alt="">
                                </div>
                                <div class="message-text">
                                    <p>${message.text}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        `;
                        messagesContainer.appendChild(messageBubble);
                    });
                });
        }
    </script>

{% endblock %}